/****************** Main Header ****************/
.header .header-title {
     color: var(--color-muted);
}

.extra-padding {
     padding: 0 80px;
}

.header .header-image {
     width: 100%;
     max-width: 180px;
}


@media (max-width: 768px) {
     .header .header-image {
          width: 100%;
          max-width: 150px;
     }
}

/****************** Main Header ****************/

/****************** Scroller Section ****************/
.scroller-section {
     width: 100%;
     overflow: hidden;
     min-height: 100px;
     display: flex;
     align-items: center;
}

.marquee-inner {
     display: flex;
     white-space: nowrap;
}

.marquee-text {
     font-size: 14vw;
     font-family: 'Anton-Regular', sans-serif;
     color: #E3E3E3;
     font-weight: 400;
     white-space: nowrap;
}

/****************** Scroller Section ****************/

/****************** Video Section ****************/
.video-section {
     position: relative;
     background-color: black;
}

.video-section .down-arrow {
     position: absolute;
     top: 0;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 120px;
     height: 120px;
     background-color: #6d2732;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;

}

.video-section .down-arrow .down-arrow-img {
     width: 35px;
     transform: scale(0.90) rotate(0deg);
     transition: transform 0.4s cubic-bezier(0.32, 1.5, 0.36, 1.4);
     /* "Break" effect */
}

.video-section .down-arrow:hover .down-arrow-img {
     transform: scale(1.1) rotate(35deg);
}

/****************** Video Section ****************/


/****************** Conversation Section ****************/
.conversation-supertitle {
     color: #404040;
     font-family: 'Gotham-Medium';
     font-size: 24px;
     font-style: normal;
     font-weight: 500;
     line-height: 90%;
     /* 21.6px */
     letter-spacing: -0.48px;
     text-transform: uppercase;
}

.conversation-section {
     width: 100vw;
     min-height: 1040px;
     background: url('../images/home-page/conversation-bg.svg') center center/cover no-repeat;
     position: relative;
     padding-left: 0;
     padding-right: 0;
     color: #fff;
     display: flex;
     align-items: center;
}

.conversation-content {
     position: absolute;
     left: 0;
     top: 45%
}

.conversation-title {
     font-family: "Playfair-Italic";
     font-size: 11vw;
     font-style: italic;
     font-weight: 500;
     line-height: 90%;
     letter-spacing: -3.9px;
     text-transform: capitalize;
     margin-bottom: 1rem;
     text-align: left;
     mix-blend-mode: difference;
     color: #9F9F9F;
}

.conversation-text {
     color: #030404;
     font-family: 'Gotham-Book';
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: 140%;
     letter-spacing: -0.6px;
}

/****************** Conversation Section ****************/


/****************** Helping Brand Section ****************/
.helping-brand-section {
     background-color: #322D2A;
     min-height: 100px;
}

.helping-brand-section .helping-brand-title {
     color: #F1E8E0;
     text-align: center;
     font-family: "Playfair-Medium";
     font-size: clamp(1.75rem, 4vw, 3.5rem);
     font-style: normal;
     font-weight: 500;
     line-height: 120%;
     /* 67.2px */
     letter-spacing: -1.12px;
     text-transform: capitalize;
}

.helping-panel-container {
     display: flex;
     gap: 20px;
     width: 100%;
     margin-top: 2rem;
}

.helping-panel-container .panel {
     width: 100px;
     min-height: 790px;
     background-size: cover;
     background-repeat: no-repeat;
     overflow: hidden;
     position: relative;
     flex: 1;
     display: flex;
     align-items: flex-end;
     justify-content: flex-start;
     cursor: pointer;
     mix-blend-mode: luminosity;
     transition: flex 0.7s cubic-bezier(0.7, 0, 0.7, 0.3);

}

.helping-panel-container .panel:nth-child(1) {
     background-position: 40%;
}

.helping-panel-container .panel:nth-child(2) {
     background-position: 33%;
}

.helping-panel-container .panel:nth-child(3) {
     background-position: 50%;
}

.helping-panel-container .panel:nth-child(4) {
     background-position: 40%;
}

.helping-panel-container .panel:nth-child(5) {
     background-position: 40%;
}

.helping-panel-container .panel.active {
     flex: 2.5;
     mix-blend-mode: inherit;
}

.helping-panel-container .panel .overlay {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background: rgba(0, 0, 0, 0.5);
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 20px;
     transition: 0.7s cubic-bezier(0.7, 0, 1, 1);
}

.helping-panel-container .panel.active .overlay {
     background: rgba(2, 2, 2, 0);
     pointer-events: none;
     opacity: 0;
     transition:
          background 0.7s cubic-bezier(0.7, 0, 1, 1),
          opacity 0.7s cubic-bezier(0.7, 0, 1, 1);
}

.helping-panel-container .overlay h2 {
     margin: 0;
     color: #FAFAFA;
     text-align: center;
     font-family: "playfair-light";
     font-size: 2vw;
     font-style: normal;
     font-weight: 500;
     line-height: 120%;

}

.helping-panel-container .panel.active .overlay h2 {
     opacity: 0;
     transition: opacity 0.7s cubic-bezier(0.7, 0, 1, 1);
}



@media (max-width: 1024px) {
     .helping-panel-container {
          flex-wrap: wrap;
          gap: 12px;
     }

     .helping-panel-container .panel.active {
          flex: 1;
          mix-blend-mode: inherit;
     }

     .helping-panel-container .panel.active .overlay h2 {
          opacity: 1;
     }

     .helping-panel-container .panel.active .overlay {
          opacity: 1;
          background: rgba(0, 0, 0, 0.5);
     }
}

@media (max-width: 991px) {
     .helping-panel-container .panel {
          min-width: 90vw;
          max-width: 95vw;
          min-height: 350px;
     }

     .helping-panel-container .overlay h2 {
          font-size: 35px;
     }

     .helping-panel-container .panel.active .overlay {
          opacity: 1;
          background: rgba(0, 0, 0, 0.5);
     }

     .helping-panel-container .panel.active {
          flex: 1;
          mix-blend-mode: luminosity;
     }
}

@media (max-width: 768px) {
     .helping-panel-container {
          flex-direction: column;
          align-items: center;
          gap: 16px;
     }

     .helping-panel-container .panel {
          min-width: 90vw;
          max-width: 95vw;
          min-height: 350px;
     }

     .helping-panel-container .panel .overlay {
          padding: 1rem;
          font-size: 1.1rem;
     }
      .helping-panel-container .overlay h2 {
          font-size: 30px;
     }
}

@media (max-width: 500px) {

     .helping-panel-container .panel {
          min-width: 90vw;
          max-width: 95vw;
          min-height: 250px;
     }

     .helping-panel-container .overlay h2 {
          font-size: 28px;
     }
}
@media (max-width: 425px) {

     .helping-panel-container .panel {
          min-width: 90vw;
          max-width: 95vw;
          min-height: 200px;
     }

     .helping-panel-container .overlay h2 {
          font-size: 25px;
     }
}

/****************** Helping Brand Section ****************/










/******************* Responsive Design ********************/

@media screen and (max-width: 1300px) {

     .video-section .down-arrow {
          width: 90px;
          height: 90px;
     }

}

@media screen and (max-width: 1024px) {
     .extra-padding {
          padding: 0 40px;
     }

     .video-section .down-arrow .down-arrow-img {
          width: 30px;
     }

     .conversation-section {
          min-height: 800px;
     }


}

@media screen and (max-width: 768px) {
     .extra-padding {
          padding: 0 20px;
     }

     .video-section .down-arrow .down-arrow-img {
          width: 25px;
     }

     .conversation-section {
          min-height: 700px;
          background: url(../images/home-page/conversation-bg.svg) center left / cover no-repeat;
     }

     .conversation-content {
          top: 40%
     }

     .conversation-supertitle {
          font-size: 18px;
     }

     .conversation-text {
          font-size: 15px;
     }

}

@media screen and (max-width: 500px) {

     .conversation-section {
          min-height: 500px;

     }

     .conversation-title {
          font-size: 15vw;
     }

     .conversation-content {
          top: 30%;
     }

     .conversation-supertitle {
          font-size: 14px;
          color: #897474;
          mix-blend-mode: difference;
     }
}

@media screen and (max-width: 416px) {
     .extra-padding {
          padding: 0 10px;
     }

     .video-section .down-arrow {
          width: 55px;
          height: 55px;
     }

     .video-section .down-arrow .down-arrow-img {
          width: 16px;
     }

}