/****************** Main Header ****************/
.project-header {
     background-color: #D9D9D9;
     padding-top: 10em;
     position: relative;
     bottom: -1px;
}

.project-header .header-title {
     color: var(--color-muted);
     font-size: clamp(1.3rem, 2vw, 2.4rem);
}


.project-header .header-image {
     width: 100%;
     max-width: 200px;
}


@media (max-width: 768px) {
     .project-header .header-image {
          width: 100%;
          max-width: 180px;
     }
}

@media (max-width: 500px) {
     .project-header .header-image {
          width: 100%;
          max-width: 130px;
     }
}

/****************** Main Header ****************/

/****************** Scroller Section ****************/
.scroller-section {
     width: 100%;
     overflow: hidden;
     min-height: 100px;
     display: flex;
     align-items: center;
}

.marquee-inner {
     display: flex;
     white-space: nowrap;
}

.marquee-text {
     font-size: 400px;
     font-family: 'Anton-Regular', sans-serif;
     color: #E3E3E3;
     font-weight: 400;
     white-space: nowrap;
     line-height: 130%;
}

@media screen and (max-width: 991px) {
     .marquee-text {
          font-size: 330px;
     }
}

@media screen and (max-width: 767px) {
     .marquee-text {
          font-size: 220px;
     }
}

@media screen and (max-width: 479px) {
     .marquee-text {
          font-size: 260px;
     }
}

/****************** Scroller Section ****************/

/****************** Project - Section ****************/
.project-section {
     position: relative;
     width: 100%;
     min-height: 100vh;
}

.project-section .down-arrow {
     position: absolute;
     top: 0;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 120px;
     height: 120px;
     background-color: #6d2732;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     z-index: +6;
}

.project-section .down-arrow .down-arrow-img {
     width: 35px;
     transform: scale(0.90) rotate(0deg);
     transition: transform 0.4s cubic-bezier(0.32, 1.5, 0.36, 1.4);
     /* "Break" effect */
}

.project-section .down-arrow:hover .down-arrow-img {
     transform: scale(1.1) rotate(35deg);
}

.project-section .project-main-holder {
     width: 100%;
}

.project-section .project-holder .project-profile {
     width: 100vw;
     height: 100vh;
     position: relative;
     overflow: hidden;
     display: flex;
     align-items: center;
     justify-content: center;

}

.project-section .project-holder .project-profile img {
     width: 100vw;
     height: 100vh;
     min-width: 100%;
     min-height: 100%;
     max-width: none;
     max-height: none;
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     object-fit: cover;
     aspect-ratio: unset;
     /* Remove if you want true cover */
     z-index: 1;
}


/* Responsive adjustments */


@media screen and (max-width: 1300px) {

     .project-section .down-arrow {
          width: 90px;
          height: 90px;
     }

}

@media screen and (max-width: 1024px) {
     .project-section .down-arrow .down-arrow-img {
          width: 30px;
     }
}


@media (max-width: 767px) {

     .project-section .project-holder .project-profile,
     .project-section .project-holder .project-profile img {
          width: 100vw;
          height: 60vh;
          min-height: 220px;
     }

     .project-section .down-arrow .down-arrow-img {
          width: 25px;
     }
}

@media screen and (max-width: 416px) {

     .project-section .down-arrow {
          width: 55px;
          height: 55px;
     }

     .project-section .down-arrow .down-arrow-img {
          width: 16px;
     }

}

/****************** Project - Section ****************/


/****************** Scroller Footer ****************/
.scroller-gif-section {
     width: 100%;
     overflow: hidden;
     min-height: 100px;
     display: flex;
     align-items: center;
}

.marquee-inner-2 {
     display: flex;
     white-space: nowrap;
}

.marquee-text-2 {
     font-size: 200px;
     font-family: 'Cardo-Italic';
     color: #322D2A;
     font-weight: 400;
     white-space: nowrap;
     display: flex;
     justify-content: center;
     align-items: center;
     line-height: 135%;
}

@media screen and (max-width: 991px) {
     .marquee-text-2 {
          font-size: 150px;
     }
}

@media screen and (max-width: 767px) {
     .marquee-text-2 {
          font-size: 100px;
     }
}

@media screen and (max-width: 479px) {
     .marquee-text-2 {
          font-size: 80px;
     }
}

.marquee-img-1 {
     width: 10vw;
}

.marquee-img-2 {
     width: 10vw;
}

.marquee-img-3 {
     width: 10vw;
}

/****************** Scroller Footer ****************/


/****************** Socials Share Section ****************/
.socials-share-section .socials-share-title {
     color: #322D2A;
     text-align: center;
     font-family: 'Playfair-Regular';
     font-size: clamp(2.3rem, 4vw, 3.5rem);
     font-style: normal;
     font-weight: 500;
     line-height: 120%;
     /* 67.2px */
     letter-spacing: -1.12px;
}

.socials-follow-container {
     border-bottom: 2px solid #322D2A;
}

.socials-follow-container .follow-pics-text {
     color: #322D2A;
     text-align: center;
     font-family: 'Playfair-Regular';
     font-size: clamp(1.1rem, 3vw, 1.6rem);
     font-style: normal;
     font-weight: 500;
     line-height: 120%;
     /* 38.4px */
     letter-spacing: -0.64px;
     text-transform: lowercase;
}

.socials-follow-container .follow-pics img {
     width: 50px;
}

.socials-follow-container .follow-btn {
     border: 1px solid #C4C4C4;
     border-radius: 50px;
     padding: 4px 14px;
}

.socials-follow-container .follow-btn .btn-follow {
     color: #322D2A;
     font-family: 'Gotham-Light';
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 85%;
     /* 22.4px */
     letter-spacing: -0.32px;
}

@media screen and (max-width: 500px) {
     .socials-follow-container .follow-btn {
          padding: 1px 10px;
     }

     .socials-follow-container .follow-btn .btn-follow {
          font-size: 14px;
          line-height: 120%;
     }

     .socials-follow-container .follow-pics img {
          width: 40px;
     }

     .socials-follow-container .follow-pics-text {
          font-size: clamp(1rem, 3vw, 1.6rem);
     }

     .socials-follow-container .follow-btn {
          border-radius: 50px;
          padding: 1px 10px;
     }
}

@media screen and (max-width: 375px) {
     .socials-follow-container .follow-pics-text {
          font-size: clamp(0.9rem, 3vw, 1.6rem);
     }

     .socials-follow-container .follow-btn {
          border-radius: 50px;
          padding: 1px 6px;
     }

     .socials-follow-container .follow-btn .btn-follow {
          font-size: 13px;
     }
}


/****************** Socials Share Section ****************/


/****************** Brand Reimaging Section ****************/

.brand-reimaging-section {
     width: 100%;
     min-height: 900px;
     background-color: #680B16;
     position: relative;
     padding-left: 0;
     padding-right: 0;
     color: #fff;
     display: flex;
     align-items: center;
}

.brand-reimaging-section .brand-reimaging-heading {
     position: absolute;
     top: 25%;
     right: 70%;
     z-index: 1;
}

.brand-reimaging-section .brand-reimaging-heading .brand-heading {
     font-size: 20px;
     font-family: 'Gotham-Light';
     font-style: normal;
     font-weight: 400;
     line-height: 140%;
     color: #F1E8E0;
     /* 28px */
     letter-spacing: -0.4px;
     text-transform: uppercase;
}

.brand-reimaging-section .brand-reimaging-image {
     position: absolute;
     right: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     z-index: 3;
     background: url('../images/home-page/black-lady.png') center bottom no-repeat;
     height: 900px;
}


.brand-reimaging-section .brand-reimaging-bgtext .brand-bgheading {
     font-size: 400px;
     color: #5E0A14;
     font-family: 'Anton-Regular';
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     text-transform: uppercase;
}

.brand-reimaging-section .brand-reimaging-bgtext {
     display: flex;
     white-space: nowrap;
}

.brand-reimaging-section .brand-reimaging-animation {
     width: 100%;
     overflow: hidden;
     min-height: 100px;
     display: flex;
     align-items: center;
}

@media screen and (max-width: 991px) {
     .brand-reimaging-section .brand-reimaging-bgtext .brand-bgheading {
          font-size: 330px;
     }
}

@media screen and (max-width: 767px) {
     .brand-reimaging-section .brand-reimaging-bgtext .brand-bgheading {
          font-size: 220px;
     }
}

@media screen and (max-width: 479px) {
     .brand-reimaging-section .brand-reimaging-bgtext .brand-bgheading {
          font-size: 260px;
     }
}

@media screen and (max-width: 768px) {
     .brand-reimaging-section {
          min-height: 500px;
     }

     .brand-reimaging-section .brand-reimaging-image {
          background: url('../images/home-page/black-lady.png') center bottom/200px no-repeat;
     }

     .brand-reimaging-section .brand-reimaging-heading .brand-heading {
          font-size: 16px;
     }

     .brand-reimaging-section .brand-reimaging-heading {
          left: 15px;
     }


}

@media screen and (max-width: 500px) {
     .brand-reimaging-section .brand-reimaging-heading {
          left: 15px;
          top: 6%;
          width: 50%;
     }
}


/****************** Brand Reimaging Section ****************/




/*******************Common Responsive Design ********************/

@media screen and (max-width: 1300px) {

     .video-section .down-arrow {
          width: 90px;
          height: 90px;
     }

}

@media screen and (max-width: 1024px) {


     .video-section .down-arrow .down-arrow-img {
          width: 30px;
     }

     .conversation-section {
          min-height: 800px;
     }


}

@media screen and (max-width: 768px) {
     .video-section .down-arrow .down-arrow-img {
          width: 25px;
     }

     .conversation-section {
          min-height: 700px;
          background: url(../images/home-page/conversation-bg.svg) center left / cover no-repeat;
     }

     .conversation-content {
          top: 40%
     }

     .conversation-supertitle {
          font-size: 18px;
     }

     .conversation-text {
          font-size: 15px;
     }

}

@media screen and (max-width: 500px) {

     .conversation-section {
          min-height: 500px;

     }

     .conversation-title {
          font-size: 15vw;
     }

     .conversation-content {
          top: 30%;
     }

     .conversation-supertitle {
          font-size: 14px;
          color: #897474;
          mix-blend-mode: difference;
     }
}

@media screen and (max-width: 416px) {

     .video-section .down-arrow {
          width: 55px;
          height: 55px;
     }

     .video-section .down-arrow .down-arrow-img {
          width: 16px;
     }

}