/* === Import Google Font === */
@font-face {
  font-family: 'Gotham-Light';
  font-style: 300;
  src: url(../fonts/Gotham-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham-Book';
  font-style: 500;
  src: url(../fonts/Gotham-Book.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham-Medium';
  font-style: 500;
  src: url(../fonts/Gotham-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham-Bold';
  font-style: 700;
  src: url(../fonts/Gotham-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Playfair-Regular';
  font-style: 700;
  src: url(../fonts/playfair/PlayfairDisplay-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Playfair-Italic';
  font-style: 700;
  src: url(../fonts/playfair/PlayfairDisplay-Italic.ttf) format('opentype');
}

@font-face {
  font-family: 'Playfair-Medium';
  font-style: 700;
  src: url(../fonts/playfair/PlayfairDisplay-Medium.ttf) format('opentype');
}

@font-face {
  font-family: 'Playfair-Bold';
  font-style: 700;
  src: url(../fonts/playfair/PlayfairDisplay-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Anton-Regular';
  font-style: 700;
  src: url(../fonts/anton/Anton-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Cardo-Regular';
  font-style: 400;
  src: url(../fonts/cardo/Cardo-Regular.ttf) format('opentype');
}
@font-face {
  font-family: 'Cardo-Italic';
  font-style: 400;
  src: url(../fonts/cardo/Cardo-Italic.ttf) format('opentype');
}

[data-fontfamily='Gotham-Light'] {
  font-family: 'Gotham-Light', sans-serif;
}

[data-fontfamily='Gotham-Medium'] {
  font-family: 'Gotham-Medium', sans-serif;
}

[data-fontfamily='Gotham-Bold'] {
  font-family: 'Gotham-Bold', sans-serif;
}

[data-fontfamily='Playfair-Regular'] {
  font-family: 'Playfair-Regular', sans-serif;
}

[data-fontfamily='Playfair-Italic'] {
  font-family: 'Playfair-Italic', sans-serif;
}

[data-fontfamily='Gotham-Light'] {
  font-family: 'Gotham-Light', sans-serif;
}

[data-fontfamily='Playfair-Medium'] {
  font-family: 'Playfair-Medium', sans-serif;
}

[data-fontfamily='Playfair-Bold'] {
  font-family: 'Playfair-Bold', sans-serif;
}



/* === Root Variables for Colors and Fonts === */
:root {
  --color-brown: #322D2A;
  --color-red: #6D2732;
  --color-background-gray: #D9D9D9;
  --color-text-dark-primary: #030404;
  --color-text-dark-secondary: #322D2A;
  --color-text-cream: #F1E8E0;
  --color-muted: #322D2A;

  --font-family-base: 'Gotham-Light', sans-serif;
}

/* === Reset / Base Styles === */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: var(--font-family-base);
  background-color: var(--color-background-gray);
  color: var(--color-text);
  line-height: 1.6;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* === Typography: Responsive Headings and Paragraph === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem;
  line-height: 1.25;
}

h1 {
  font-size: clamp(2.2rem, 5vw, 4.5rem);
  font-weight: 700;
}

h2 {
  font-size: clamp(1.75rem, 4vw, 3rem);
  font-weight: 600;
}

h3 {
  font-size: clamp(1.5rem, 3.5vw, 2.5rem);
  font-weight: 600;
}

h4 {
  font-size: clamp(1.25rem, 3vw, 2rem);
  font-weight: 600;
}

h5 {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 500;
}

h6 {
  font-size: clamp(0.875rem, 2vw, 1.25rem);
  font-weight: 500;
}

p {
  font-size: clamp(1rem, 1.5vw, 1.125rem);
  color: var(--color-text);
}

/* === Utilities (Optional) === */

.navbg-light {
  background-color: var(--color-background-gray);
}